<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Agenda</title>
</head>
<body>
    <a class="back-btn" href="/home">Voltar</a>
    <div class="container">
        <h1>Criar Nova Consulta</h1>
        <section>
            <form action="{% url 'criar_consulta' %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="data_consulta">Data da Consulta:</label>
                    <input type="datetime-local" id="data_consulta" name="date" required />
                </div>
                <input type="hidden" value="{{ terapeuta.id }}" id="_idTerapeuta" name="_idTerapeuta" required />
                <div class="input-container">
                    <label for="_idPaciente">Paciente:</label>
                    <select id="_idPaciente" name="_idPaciente">
                        {% for paciente in pacientes %}
                        <option value="{{ paciente.idPaciente }}">{{ paciente.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Salvar Consulta</button>
            </form>
        </section>
        <hr />
        <section>
            <h2>Consultas Agendadas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Data da Consulta</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agenda in consultas %}
                    <tr>
                        <td>{{ agenda.name }}</td>
                        <td>{{ agenda.date }}</td>
                        <td>
                            <form action="{% url 'deletar_consulta' agenda.id_agenda %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="remove-button">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <script>
        const terapeuta = document.getElementById("_idTerapeuta");
        const terapeutaLocalsStorage = localStorage.getItem("trabalho_agenda_terapeutaId") || "";
        if (terapeutaLocalsStorage) terapeuta.value = terapeutaLocalsStorage;
    </script>
</body>
</html>