<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon/Icons-Land-Medical-People-Doctor-Male.ico" type="image/x-icon" />
    <title>Cadastro Pacientes</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="cadastrar.css">
    <style>
        /* Estilo para o destaque */
        .highlight {
            outline: 2px solid rgb(37, 161, 137);
            outline-offset: 2px;
        }
    </style>
    
</head>
<body>
    <a href="{% url 'homePaciente' %}" class="back-btn">Voltar</a>
    <div class="container">
        <h1>Cadastrar</h1>
        <form action="{% url 'salvar_paciente' %}" method="POST">
            {% csrf_token %}
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">Nome</h5>
                    <input type="text" name="nome" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">Data de Nascimento</h5>
                    <input type="date" name="data_nascimento" class="form-control" required />
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">Sexo</h5>
                    <select name="sexo" class="form-control" required>
                        <option value="">Selecione</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Outro">Outro</option>
                        <option value="Prefiro não dizer">Prefiro não dizer</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">Email</h5>
                    <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">CPF</h5>
                    <input type="text" name="cpf" class="form-control" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Formato: 123.456.789-00" required />
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">RG</h5>
                    <input type="text" name="rg" class="form-control" pattern="\d+(\.\d+)*" title="Formato: números separados por pontos" required />
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">Celular</h5>
                    <input type="text" name="celular" class="form-control" />
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">Endereço</h5>
                    <input type="text" name="endereco" class="form-control" required />
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">Nacionalidade</h5>
                    <input type="text" name="nacionalidade" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">Estado Civil</h5>
                    <select name="estado_civil" class="form-control">
                        <option value="">Selecione</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a)</option>
                        <option value="viuvo">Viúvo(a)</option>
                        <option value="divorciado">Divorciado(a)</option>
                        <option value="uniao_estavel">União estável</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h5 class="small-header">Profissão</h5>
                    <input type="text" name="profissao" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <h5 class="small-header">Convênio</h5>
                    <input type="text" name="convenio" class="form-control" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn">Salvar</button>
            </div>
        </form>
    </div>

 <!-- Botão que se move pela tela -->
 <button id="movingButton" name="Botao Acessibilidade" style="
 position: fixed;
 bottom: 550px;
 right: 40px;
 background-color: transparent;
 color: rgb(248, 246, 246);
 border: none;
 border-radius: 50%;
 width: 80px;
 height: 80px;
 font-size: 20px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 outline: none; /* Remove a borda ao clicar */
">
 <img src="favicon/imgAcessi.png" alt="Acessibilidade" style="width: 70px; height: 70px;">
</button>

<script>
// Seleciona todos os elementos focáveis e visíveis na página
const movingButton = document.getElementById('movingButton');
const elements = Array.from(document.querySelectorAll('a, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, label'))

let currentIndex = 0;


function highlightElement(element) {
    element.classList.add('highlight');
    element.scrollIntoView({ behavior: 'smooth', block: 'center' }); // Centraliza o elemento na tela
}

function removeHighlight(element) {
    element.classList.remove('highlight');
}

function speakText(text, element) {
    const utterance = new SpeechSynthesisUtterance(text);
    utterance.lang = 'pt-BR';
    utterance.onstart = () => highlightElement(element);
    utterance.onend = () => removeHighlight(element);
    speechSynthesis.speak(utterance);
}

movingButton.addEventListener('click', () => {
    // Remove o destaque do elemento atual
    if (currentIndex > 0) {
        removeHighlight(elements[currentIndex - 1]);
        
    }
    

    // Avança para o próximo elemento
    if (currentIndex < elements.length) {
        const element = elements[currentIndex];
        const text = element.placeholder || element.innerText || element.value || element.name ||"Elemento sem texto";
        if (text.trim()) {
            speakText(text, element);
        }
        currentIndex++;
    } else {
        currentIndex = 0; // Reinicia a navegação ao final
    }
});
</script>

</body>
</html>
