<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon/Icons-Land-Medical-People-Doctor-Male.ico" type="image/x-icon" />
    <title>Listar Pacientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="listar.css">
    <style>
        /* Estilo para o destaque */
        .highlight {
            outline: 2px solid rgb(37, 161, 137);
            outline-offset: 2px;
        }
    </style>
    </head>
<body>
    <a href="{% url 'homePaciente' %}" class="back-btn">Voltar</a>
    <div class="container">
        <h1>Lista de Pacientes</h1>
        <!-- Adicione a classe "search-input" ao div envolvendo o input de pesquisa -->
        <div class="search-input">
            <input type="text" class="form-control" placeholder="Pesquisar" oninput="filterCards(this.value)">
        </div>
        <div class="row">
            {% for paciente in pacientes %}
                <div class="col-md-4">
                    <div class="paciente-card">
                        <strong>{{ paciente.nome }}</strong>
                        <br><span>Contato:</span>
                        {% if paciente.celular %}
                            <span>{{ paciente.celular }}</span>
                        {% endif %}
                        <br><span>Data de nascimento:</span>
                        {% if paciente.data_nascimento %}
                            <span>{{ paciente.data_nascimento }}</span>
                        {% endif %}
                        <br><span>Convênio:</span>
                        {% if paciente.convenio %}
                            <span>{{ paciente.convenio }}</span>
                        {% endif %}
                        <br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function filterCards(value) {
            var cards = document.getElementsByClassName("paciente-card");
            for (var i = 0; i < cards.length; i++) {
                var card = cards[i];
                var nome = card.getElementsByTagName("strong")[0].innerText.toLowerCase();
                if (nome.includes(value.toLowerCase())) {
                    card.style.display = "inline-block";
                } else {
                    card.style.display = "none";
                }
            }
        }
    </script>
   <!-- Botão que se move pela tela -->
   <button id="movingButton" name="Botao Acessibilidade" style="
   position: fixed;
   bottom: 550px;
   right: 40px;
   background-color: transparent;
   color: rgb(248, 246, 246);
   border: none;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   font-size: 20px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none; /* Remove a borda ao clicar */
">
   <img src="favicon/imgAcessi.png" alt="Acessibilidade" style="width: 70px; height: 70px;">
</button>

<script>
// Seleciona todos os elementos focáveis e visíveis na página
const movingButton = document.getElementById('movingButton');
const elements = Array.from(document.querySelectorAll('a, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, label'))

let currentIndex = 0;

function highlightElement(element) {
    element.classList.add('highlight');
    element.scrollIntoView({ behavior: 'smooth', block: 'center' }); // Centraliza o elemento na tela
}

function removeHighlight(element) {
    element.classList.remove('highlight');
}

function speakText(text, element) {
    const utterance = new SpeechSynthesisUtterance(text);
    utterance.lang = 'pt-BR';
    utterance.onstart = () => highlightElement(element);
    utterance.onend = () => removeHighlight(element);
    speechSynthesis.speak(utterance);
}

movingButton.addEventListener('click', () => {
    // Remove o destaque do elemento atual
    if (currentIndex > 0) {
        removeHighlight(elements[currentIndex - 1]);
    }

    // Avança para o próximo elemento
    if (currentIndex < elements.length) {
        const element = elements[currentIndex];
        const text =element.name || element.placeholder || element.innerText || element.value || "Elemento sem texto";
        if (text.trim()) {
            speakText(text, element);
        }
        currentIndex++;
    } else {
        currentIndex = 0; // Reinicia a navegação ao final
    }
});
</script>
    
</body>
</html>
